@model Web.ViewModels.EmployeeViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="row">
    <div class="col-auto">
        <form asp-controller="Display" asp-action="EmployeesSorted" method="get">
            <p>
                Department: 
                @Html.DropDownListFor(x => x.FilteredDepartment, Model.Departments, "All")

                Search: 
                <input type="text" asp-for="SearchString" />
                <input type="submit" value="Filter" />
            </p>
        </form>
    </div>
    <div class="col text-end">
        <a class="btn btn-outline-secondary" role="button" asp-action="CreateEmployee">
            <img src="/images/icons8-add-user-64.png" style="width:40px; height:40px;" />
            New employee
        </a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.DepartmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.Phone1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.Phone2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.Ext)
            </th>
            <th style="width: 15%">
                @Html.DisplayNameFor(model => model.Employee.Notes)
            </th>
            <th align="center">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Employees) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ext)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td align="center">
                <a asp-action="UpdateEmployee" asp-route-id="@item.Id"><img src="/images/icons8-edit-64.png" style="width:24px; height:24px"></a>
                <a asp-action="DeleteEmployee" asp-route-id="@item.Id"><img src="/images/icons8-delete-64.png" style="width:24px; height:24px;"></a>
            </td>
        </tr>
}
    </tbody>
</table>